.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: orange transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-container{
 transition: all 0.2s;
}

.modal-container-visible{
  opacity: 1;
  visibility: visible;
}

.modal-container-invisible{
  opacity: 0;
  visibility: hidden;

}

.modal-fg {
  transition:0.2s all;
}

.modal-fg-visible{
  transform: scale(1);
}

.modal-fg-invisible{
  transform: scale(0);
}

.uni-card-image{
  height: 14em;
  width: 28em;
}

.uni-card-animate{
  animation: 350ms fade-in
}

.fade-in{
  animation: 350ms fade-in
}

@keyframes fade-in {
  from {opacity: 0; transform: translateY(2em);}
  to{opacity: 1; transform: translateY(0em);}
  
}
